.cover-container.cover-about{
    height: 60vh;
}

.cover-container__grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cover-container__title.about{
    padding: 0 20px 0 60px;
}

.cover-title__section{
    width: 400px;
    font-size: 3em;
    padding: 24px 0;
}

#politica-1{
    order: 1;
}

#politica-2{
    order: 2;
}

.cover-elastomeros{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: none;
    padding: 80px 16px 0;
}

.cover-image{
    display: initial;
    width: 80%;
    height: 80%;
    object-fit: contain;
    align-self: center;
}

.info{
    align-self: center;
    background-color: transparent;
}

.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction-container{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    margin-block: 80px;
}

.services-container{
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 20px;
    justify-content: space-evenly;
}

.service-grid__item{
    height: 360px;
}

.grid-two,
.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-data{
    height: 400px;
}

.contact-form__input{
    width: 80%;
}

.contact-form__textarea{
    width: 90%;
    margin: 0 auto;
}

.grid-message div{
    width: 90%;
}

.swiper-container{
    min-height: 300px;
}

.swiper-wrapper{
    padding: 0 20px;
}